body, html
{
    height: 100%;
}

h2
{
    font-size: 30px;
    border-bottom: 3px solid #666666;
}

p
{
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin-bottom: 30px;
}

#page-body
{
    background-image: url("../images/mosaic.png");
    flex: 1 0 auto;
}

#sticky-footer
{
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
}

.header-class
{
    font-family: Georgia, Times, serif;
    text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
    font-size: 30px;
    border-bottom: 3px solid #666666;
    padding: 20px 0px;
}

.select-btn
{
    display: block;
    margin: 20px 0px;
    width: 100%;
}

.game-status
{
    min-height: 150px;
    width: 100%;
    padding: 30px 20px 0px 20px;
    text-align: center;
    border: 2px solid #666666;
}

.img-container
{
    position: relative;
}


.img-background
{
    position: absolute;
}

.img-item
{
    position: absolute;
}
